<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<HTML>
<head>
	<meta  http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <%@page pageEncoding="UTF-8"%>
	<%@page import="siar.users.User" %>
</head>


<header id="header" class="jumbotron my-bg-header">
	<% User ulogged = (User)request.getSession().getAttribute("LOGGED"); %>
    <div class="container">
    <a href="/ServidorSIAR/Settings.jsp">
          <span class="glyphicon glyphicon-user pull-right"><% out.print(ulogged.getName()); %></span>
    </a>
    </div>

    <div class="container">
    <h1> 
    	<span class="hd-big">SIAR</span> 
        <div class="hd-small">
        Sistema Integrado de Administración de la Red 
        </div>
        <span>
        	<a href="/ServidorSIAR/LogOut.jsp" id="logoutButton" class="btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesión</a>
            <a href="/ServidorSIAR/Main.jsp" class="btn btn-default btn-sm pull-right"><span class="glyphicon glyphicon-home"></span> Página inicio</a> 
        </span>
    </h1>

    </div>
    
</header>
